<form class="login-form">
  <div class="greetingText">
    <h3>Hallo! Vielen Dank für deine Teilnahme!</h3>
    <p>
      Lese dir bitte zunächst folgenden Text genau durch, um den Test richtig
      durchführen zu können:
    </p>

    <p>
      Du bist Abteilungsleiter in einem bekannten IT-Security-Unternehmen. Dir
      unterstehen sehr viele Mitarbeiter, darunter Entwickler, Angestellte aus
      dem Bereich Materialwirtschaft und Werkstudenten. Deine Aufgabe ist es
      nun, deinen Mitarbeitern Zugriffsrechte zuzuteilen, also Access Reviews
      durchzuführen. Wichtig ist dabei, dass du so viele Rechte wie nötig
      vergibst, aber gleichzeitig so wenig wie möglich. Folgender kurzer
      Abschnitt soll dir bei deinen Entscheidungen helfen:
    </p>
    <p>
      Praktikanten sollen lediglich Zugriff auf den Terminkalender haben.
      Werkstudenten müssen Termine eintragen können und brauchen Zugriff auf das
      ERP-System. Entwickler müssen Zugriff auf den Code haben und brauchen alle
      Rechte, die Werkstudenten auch haben. Angestellte aus dem Bereich
      Materialwirtschaft müssen Termine sehen können, brauchen vollen Zugriff
      auf das ERP-System und brauchen die Rechte für alle Excel-Tabellen.
    </p>
    <p>
      Bevor es gleich losgeht, noch eine kurze Erklärung zur Anwendung: Unter
      dem Reiter Zugriffsrechtverwaltung findest du die Berechtigungsprüfung,
      also den eigentlich wichtigsten Teil für dich, und außerdem die
      Tabellenübersicht, die dir einfach alle deine Entscheidungen in einer
      Matrix anzeigt. Schaue auch mal ins Dashboard, dort findest du unter
      anderem dein Profil.
    </p>
    <p>
      Noch eine kurze Anleitung für die Access Reviews: Wähle die Rechte, die
      deiner Meinung nach richtig sind, aus. Drücke dann den Button darunter, um
      die Überprüfung für den Angestellten abzuschließen. Bitte führe mindestens
      20 Reviews aus. Du bekommst eine Benachrichtigung, wenn du sie erreicht
      hast. Wenn du 20 Stück geschafft hast, ist es völlig dir überlassen, wie
      lange du weiter machst. Höre wirklich sofort auf, wenn du keine Lust mehr
      hast!
    </p>
    <p>
      <b
        >Wichtig: Lade die Seite bitte nicht neu, da sonst dein Fortschritt
        verloren geht.</b
      >
    </p>
    <p>
      Jetzt kann’s losgehen! Vielen Dank, dass du mitmachst und viel Spaß mit
      den Access Reviews! 😊
    </p>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Vorname</mat-label>
    <input matInput type="text" placeholder="Vorname" #usernameLogin />
  </mat-form-field>
  <button
    mat-button
    color="primary"
    (click)="login(usernameLogin)"
    routerLink="/dashboard"
  >
    Starten
  </button>
</form>
