<form class="login-form">
  <div class="greetingText">
    <h3>Hallo! Vielen Dank für deine Teilnahme!</h3>
    <p>
      Lese dir bitte zunächst folgenden Text genau durch, um die Studie richtig
      durchführen zu können:
    </p>

    <p>
      Du bist Abteilungsleiter in einem bekannten IT-Security-Unternehmen. Dir
      unterstehen sehr viele Mitarbeiter, darunter Entwickler, Angestellte aus
      dem Bereich Materialwirtschaft Werkstudenten und Praktikanten. Um das
      Risiko von Sicherheitslücken zu minimieren, erhält jeder Mitarbeiter
      entsprechend seiner Position verschiedene Zugriffsrechte ("Access
      Rights"). Deine Aufgabe ist es nun, jedem dieser Mitarbeiter die für ihn
      richtigen Berechtigungen zuzuteilen ("Reviews"). Wichtig ist dabei, dass
      du so viele Rechte wie nötig vergibst, aber gleichzeitig so wenig wie
      möglich. Folgender kurzer Abschnitt soll dir bei deinen Entscheidungen
      helfen:
    </p>
    <p>
      <b>Praktikanten</b> sollen lediglich Zugriff auf den Terminkalender haben.
      <b>Werkstudenten</b> müssen Termine eintragen können und brauchen Zugriff
      auf das ERP-System. <b>Entwickler</b> müssen Zugriff auf den Code haben
      und brauchen alle Rechte, die Werkstudenten auch haben. Angestellte aus
      dem Bereich <b>Materialwirtschaft</b> benötigen Einblick in die Termine,
      benötigen den vollen Zugriff auf das ERP-System und zudem noch die Rechte
      für alle Excel-Tabellen.
    </p>
    <p>
      Alles klar? Gut! Bevor es nun losgeht, noch eine kurze Erklärung zur
      Anwendung: Unter dem Reiter Zugriffsrechtverwaltung findest du die
      eigentliche Berechtigungsprüfung, womit du dich in dem Rahmen der
      Berechtigungsprüfung genau befasst, sowie die Tabellenübersicht, die dir
      alle deine Entscheidungen in einer Matrix anzeigt. Daneben findest du dein
      persönliches Profil, in dem deine Erfolge und Herausforderungen eingesehen
      werden können. Abschließend gibt es noch die Rangliste, in der du und
      deine Kollegen des IT-Security Unternehmens jeden Monat gegeneinander
      antretet, um der fleißigste Berechtigungsprüfer zu sein.
    </p>
    <p>
      Noch eine kurze Anleitung für die Access Reviews: Wähle die Rechte, die
      aus obigem Text hervorgingen, aus. Drücke dann die Taste darunter, um die
      Überprüfung für den Angestellten abzuschließen. Bitte führe
      <b>mindestens 25 Reviews</b> aus. Du bekommst eine Benachrichtigung, wenn
      du sie erreicht hast. Anschließend bist du qualifiziert für die
      Evaluation. Schließe die Studie mit dieser bitte ab. Du kannst natürlich
      auch noch mehr Reviews durchführen und die Evaluation dafür zeitlich
      verschieben.
    </p>
    <p>
      <b
        >Wichtig: Lade die Seite bitte nicht neu, da sonst dein Fortschritt
        verloren geht.</b
      >
    </p>
    <p>
      Jetzt kann’s losgehen! Vielen Dank, dass du mitmachst und viel Spaß mit
      den Access Reviews! 😊
    </p>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Vorname</mat-label>
    <input matInput type="text" placeholder="Vorname" #usernameLogin />
  </mat-form-field>
  <button
    mat-button
    color="primary"
    (click)="login(usernameLogin)"
    routerLink="/dashboard"
  >
    Starten
  </button>
</form>
