<div class="startingText">
  <form class="login-form">
    <h3>Vielen Dank für deine Teilnahme</h3>
    <p>
      Lese dir bitte zunächst nachfolgenden Text genau durch, um die Studie zum
      Thema „Berechtigungsvergabe von Mitarbeiterrechten (Access Reviews)“
      korrekt durchführen zu können:
    </p>

    <p>
      Du findest dich in folgendem Szenario wieder: Du bist Abteilungsleiter in
      einem großen Unternehmen. Dir unterstehen sehr viele Mitarbeiter, darunter
      Entwickler, Angestellte aus dem Bereich Materialwirtschaft, Werkstudenten
      und Praktikanten. Um das Risiko von Sicherheitslücken durch unbefugten
      Zugriff auf diverse IT-Systeme zu minimieren, erhält jeder Mitarbeiter
      entsprechend seiner Position verschiedene Zugriffsrechte ("Access
      Rights"). Deine Aufgabe innerhalb dieser Fallstudie ist es nun, jedem
      dieser Mitarbeiter die seiner Position entsprechend richtigen
      Berechtigungen zuzuteilen ("Reviews"). Wichtig dabei ist, dass du jeder
      Position nur genau die Rechte zuteilst, die für ihn vorgesehen sind.
      Folgender kurzer Abschnitt soll dir bei deinen Entscheidungen der
      Rechtevergabe helfen:
    </p>
    <p>
      <b>Praktikanten</b> sollen lediglich Zugriff auf den Terminkalender
      besitzen. <b>Werkstudenten</b> müssen Termine eintragen können und
      brauchen Zugriff auf das ERP-System. <b>Entwickler</b> sollen Zugriff auf
      den Code erhalten und benötigen alle Rechte, die Werkstudenten auch haben.
      Angestellte aus dem Bereich <b>Materialwirtschaft</b> benötigen Einblick
      in die Termine, den vollen Zugriff auf das ERP-System und zudem noch die
      Rechte für alle Excel-Tabellen.
    </p>
    <p>
      Bevor du nun mit der Vergabe beginnst, noch eine kurze Erklärung zur
      Anwendung: Unter dem Reiter <b>Zugriffsrechtverwaltung</b> findest du die
      eigentliche Berechtigungsprüfung, womit du dich in dem Rahmen der Studie
      genauer befasst, sowie die Tabellenübersicht, die dir alle deine
      getroffenen Entscheidungen in einer Matrix noch einmal anzeigt. Zusätzlich
      gibt es dort noch den Studienablauf, der dich wieder auf diese Seite
      führt, falls du zum Beispiel den Text später noch einmal durchlesen
      möchstest.
    </p>
    <p>Noch eine kurze Anleitung für die Access Reviews:</p>
    1: Wähle die zutreffenden Rechte des Angestellten für die gegebene Position,
    die aus obigem Text hervorgingen, aus.
    <p></p>
    <div class="illustration">
      <img img src="assets/tutorial/1.jpg" style="max-width: 600px" />
    </div>
    <p></p>
    2: Bestätige anschließend die Vergabe mit der Taste „Überprüfung für diesen
    Angestellten abschließen“. <br />
    Bitte führe <b>mindestens 25 Reviews</b> durch.
    <p></p>
    3: Du beendest die Studie mit einem Fragebogen, in dem dir einige Fragen zu
    der Tätigkeit der Access Reviews gestellt werden.
    <p></p>
    Du bekommst eine Benachrichtigung, wenn du die Mindestanzahl an für den
    Fragebogen benötigten Berechtigungsprüfungen erreicht hast.
    <p></p>
    <div class="illustration">
      <img
        img
        src="assets/tutorial/2.png"
        style="max-width: 600px; border: 1px solid #021a40 "
      />
    </div>
    <p></p>
    Danach kannst du so lange weiter machen wie du willst. Du kannst ab 25
    Reviews aber auch jederzeit schon direkt über den Button "Fallstudie
    abschließen" in der oberen rechten Ecke der Berechtigungsprüfung <br />
    <img img src="assets/tutorial/3.jpg" style="max-width: 200px" /><br />zum
    Fragebogen navigieren, diesen ausfüllen und damit die Studie abschließen.
    Wichtig ist nur, dass du den Fragebogen nicht vergisst und ihn, wenn du
    keine Reviews mehr durchführen möchtest, am Ende beantwortest und
    abschickst.

    <div class="important">
      <p>
        <b
          >Bitte beachte: Lade die Seite während der gesamten Studie bitte nicht
          neu, da sonst dein Fortschritt verloren gehen würde und vergiss nicht,
          am Ende die Fallstudie mit dem Fragebogen zu beenden.
        </b>
      </p>
    </div>
    <div class="formField" *ngIf="showFormField">
      <p>
        Jetzt kann’s losgehen! Beginne die Studie mit dem Button „Starten“. Den
        Ablauf der Studie kannst du bei aufkommenden Fragen erneut unter
        "Studienablauf" unter dem Punkt "Zugriffsverwaltung" einsehen. Vielen
        Dank, dass du mitmachst und viel Spaß mit den Access Reviews! 😊
      </p>
      <button
        mat-flat-button
        color="primary"
        (click)="login(usernameLogin)"
        routerLink="/accessreview"
      >
        Starten
      </button>
    </div>
  </form>
</div>
