<div class="bigContainer">
  <h3 style="text-align: center">Levelfortschritt</h3>
  <mat-progress-bar
    mode="determinate"
    value="{{ progressBarCounter * 10 }}"
  ></mat-progress-bar>
</div>
<p></p>
<div class="gotolast"></div>
<button mat-button (click)="scrollToLast()">↓ zuletzt bearbeitet</button>
<button
  mat-flat-button
  [disabled]="buttonDisabled"
  color="warn"
  (click)="calculateAccuracy()"
  routerLink="/formular"
  style="float:right"
>
  → Fallstudie abschließen
</button>
<mat-divider></mat-divider>
<div class="reviewlist">
  <cdk-virtual-scroll-viewport itemSize="380">
    <mat-list
      *cdkVirtualFor="let employee of employeeList; templateCacheSize: 0"
    >
      <app-employee-detail [employeeToDisplay]="employee">
      </app-employee-detail>

      <app-access-list [employeeToAlterRights]="employee"></app-access-list>

      <mat-divider></mat-divider>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</div>
<mat-divider></mat-divider>
