.cdk-virtual-scroll-viewport {
  height: 800px;
}
.goToForm {
  float: right;
}
.reviewlist {
  background-color: #f2f7ff;
}

/*
.top {
  position: relative;
  background: white;
  height: 10%;
  z-index: 5;
}
*/
