<div class="missions">
  <h2>Herausforderungen</h2>

  <mat-card *ngIf="showFirstMission">
    <mat-card-title>Erreiche Level 2</mat-card-title
    ><mat-card-subtitle
      >Belohnung: Ein einzigartiges Abzeichen</mat-card-subtitle
    >
    <mat-card-content *ngIf="2 > level"
      >Fortschritt: {{ level }} von 2</mat-card-content
    >
    <mat-card-content *ngIf="level > 1">{{
      masteredChallenge
    }}</mat-card-content>
    <mat-card-actions
      ><button
        mat-raised-button
        color="primary"
        (click)="getFirstMissionReward()"
      >
        Herausforderung abschließen
      </button></mat-card-actions
    ></mat-card
  >

  <p></p>
  <mat-card *ngIf="showSecondMission">
    <mat-card-title>Erreiche Level 4</mat-card-title
    ><mat-card-subtitle
      >Belohnung: Ein einzigartigeres Abzeichen</mat-card-subtitle
    >
    <mat-card-content *ngIf="4 > level"
      >Fortschritt: {{ level }} von 4</mat-card-content
    >
    <mat-card-content *ngIf="level > 3">{{
      masteredChallenge
    }}</mat-card-content>
    <mat-card-actions
      ><button
        mat-raised-button
        color="primary"
        (click)="getSecondMissionReward()"
      >
        Herausforderung abschließen
      </button></mat-card-actions
    ></mat-card
  >
  <p></p>
  <mat-card *ngIf="showThirdMission">
    <mat-card-title>Erreiche Level 8</mat-card-title
    ><mat-card-subtitle
      >Belohnung: Ein NOCH einzigartigeres Abzeichen</mat-card-subtitle
    >
    <mat-card-content *ngIf="8 > level"
      >Fortschritt: {{ level }} von 8</mat-card-content
    >
    <mat-card-content *ngIf="level > 7">{{
      masteredChallenge
    }}</mat-card-content>
    <mat-card-actions
      ><button
        mat-raised-button
        color="primary"
        (click)="getThirdMissionReward()"
      >
        Herausforderung abschließen
      </button></mat-card-actions
    ></mat-card
  >
  <p></p>
  <mat-card *ngIf="showFourthMission">
    <mat-card-title>Erreiche Level 10</mat-card-title
    ><mat-card-subtitle
      >Belohnung: Du wirst überhäuft mit Abzeichen und jeder wird dich dafür
      beneiden. Glaub mir!</mat-card-subtitle
    >
    <mat-card-content *ngIf="10 > level"
      >Fortschritt: {{ level }} von 10</mat-card-content
    >
    <mat-card-content *ngIf="level > 9">{{
      masteredChallenge
    }}</mat-card-content>
    <mat-card-actions
      ><button
        mat-raised-button
        color="primary"
        (click)="getFourthMissionReward()"
      >
        Herausforderung abschließen
      </button></mat-card-actions
    ></mat-card
  >
  <p></p>
  <mat-card *ngIf="showFormular">
    <mat-card-title>Fülle abschließend den Fragebogen aus</mat-card-title
    ><mat-card-subtitle
      >Belohnung: Ein letztes einzigartiges Abzeichen und viele positive
      Karmapunkte</mat-card-subtitle
    >
    <mat-card-content *ngIf="!formularDone"
      >Fragebogen noch nicht ausgefüllt</mat-card-content
    >
    <mat-card-content *ngIf="formularDone"
      >Vielen Dank für das Abschließen der Studie 😊</mat-card-content
    >
    <mat-card-actions
      ><button
        mat-raised-button
        color="primary"
        (click)="getFormularDoneReward()"
      >
        Herausforderung abschließen
      </button></mat-card-actions
    ></mat-card
  >
</div>
