<!---->
<mat-toolbar color="primary" style="position: fixed;">
  <button mat-button [matMenuTriggerFor]="menu">Zugriffsrechtverwaltung</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/accessreview">
      Berechtigungsprüfung
    </button>
    <button mat-menu-item routerLink="/table">Tabellenübersicht</button>
  </mat-menu>
  <button
    mat-button
    [matMenuTriggerFor]="menu2"
    [matBadge]="badge"
    (click)="resetBadge()"
    matBadgePosition="after"
    matBadgeHidden="{{ isHidden }}"
    matBadgeColor="accent"
  >
    Dashboard
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-button routerLink="/dashboard">Mein Profil</button>
    <button mat-button routerLink="/ranking">Rangliste</button>
  </mat-menu>
</mat-toolbar>

<div class="bottom"><router-outlet></router-outlet></div>
