.mat-slider {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

.left {
  text-align: left;
  margin-left: 50px;
}
.right {
  float: right;
  margin-right: 50px;
}
.sent {
  color: green;
}
.answer {
  max-width: 800px;
}
.marginOfContent {
  margin-right: 20px;
  margin-left: 20px;
}
