<div class="formular">
  <div class="demographicData"><h2>Daten zur Person</h2></div>
  <p>
    Bitte wähle hier dein Alter und Geschlecht, damit wir die Studie besser
    auswerten können.
  </p>
  <mat-form-field>
    <mat-select placeholder="Alter">
      <mat-option value="18-24">18-24</mat-option>
      <mat-option value="25-34">25-34</mat-option>
      <mat-option value="35-44">35-44</mat-option>
      <mat-option value="45-54">45 und älter</mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-radio-group>
    <mat-radio-button value="1">männlich</mat-radio-button>
    <p></p>
    <mat-radio-button value="2">weiblich</mat-radio-button>
  </mat-radio-group>
  <div class="firstpart"><h2>Teil A des Fragebogens</h2></div>
  <mat-list>
    <mat-list-item>
      <h3>Bitte bewerte rückblickend deine Durchführung der Access Reviews:</h3>
    </mat-list-item>
    <mat-list-item
      >langweilig
      <mat-slider
        (input)="onInputChange($event, 1)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >kurzweilig
    </mat-list-item>
    <mat-list-item
      >demotivierend
      <mat-slider
        (input)="onInputChange($event, 2)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >motivierend
    </mat-list-item>
    <mat-divider></mat-divider>
    <p></p>
    <mat-list-item>
      <h3>
        Bitte bewerte nun genauso wie oben jedes einzelne Element hinsichtlich
        der zwei Faktoren:
      </h3>
    </mat-list-item>
    <p></p>
    <p></p>
    <p></p>
    <mat-list-item>
      Wie hast du das Pop-up "3 Berechtigungen geprüft" bezogen auf die Access
      Reviews empfunden?
    </mat-list-item>
    <mat-list-item
      >langweilig
      <mat-slider
        (input)="onInputChange($event, 3)"
        thumbLabel
        tickInterval="1"
        min="1"
        s
        max="5"
      ></mat-slider
      >kurzweilig
    </mat-list-item>
    <mat-list-item
      >demotivierend
      <mat-slider
        (input)="onInputChange($event, 3)"
        thumbLabel
        tickInterval="1"
        min="1"
        s
        max="5"
      ></mat-slider
      >motivierend
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Wie hat sich das Pop-up „Neues Level erreicht!“ auf deine Motivation
      ausgewirkt?
    </mat-list-item>
    <mat-list-item>
      sehr negativ
      <mat-slider
        (input)="onInputChange($event, 4)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >sehr positiv
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Wie hat sich der Level-Fortschrittsbalken auf deine Motivation ausgewirkt?
    </mat-list-item>
    <mat-list-item>
      sehr negativ
      <mat-slider
        (input)="onInputChange($event, 4)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >sehr positiv
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Wie hat sich die Rangliste auf deine Motivation ausgewirkt?
    </mat-list-item>
    <mat-list-item>
      sehr negativ
      <mat-slider
        (input)="onInputChange($event, 4)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >sehr positiv
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Wie haben sich die Herausforderungen auf deine Motivation ausgewirkt?
    </mat-list-item>
    <mat-list-item>
      sehr negativ
      <mat-slider
        (input)="onInputChange($event, 4)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >sehr positiv
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Wie haben sich die sammelbaren Abzeichen auf deine Motivation ausgewirkt?
    </mat-list-item>
    <mat-list-item>
      sehr negativ
      <mat-slider
        (input)="onInputChange($event, 4)"
        thumbLabel
        tickInterval="1"
        min="1"
        max="5"
      ></mat-slider
      >sehr positiv
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <button mat-raised-button color="primary" (click)="onSubmitEvaluation()">
    Abschicken
  </button>
</div>
