<div class="dashboard">
  <div class="profile">
    <div class="picture">
      <img src="{{ imagePath }}" width="150" height="150" />
    </div>
    <div class="list">
      <mat-list>
        <mat-list-item> Level {{ dashboardUserLevel }} </mat-list-item>
        <mat-list-item> {{ dashboardUserName }} </mat-list-item>
        <mat-list-item>
          heute durchgeführte Reviews: {{ dashboardCounter }}
        </mat-list-item>
      </mat-list>
    </div>
    <br />
    <h2>gesammelte Abzeichen</h2>
    <img
      *ngFor="let badge of badges"
      class="badge"
      src="assets/ranks/{{ badge }}.svg"
      width="70"
      height="70"
    />
    <app-mission></app-mission>
    <div class="achievement">
      <h2>Erfolge</h2>
      <mat-list *ngFor="let achievement of achievementList">
        <mat-list-item>{{ achievement }}</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
