<mat-list>
  <mat-list-item> <h1>Monatliche Rangliste</h1> </mat-list-item>
  <br />
  <mat-list-item>
    Die Mitarbeiter mit den meisten durchgeführten Reviews erhalten zum Ende
    jeden Monats einen Preis.
  </mat-list-item>
  <mat-list-item *ngIf="showMessage"
    ><br />Du hast dich von Rang {{ previousRanking + 1 }} auf
    {{ currentRanking + 1 }} verbessert!</mat-list-item
  >
  <mat-list-item *ngFor="let competitor of rankings; let ind = index">
    <h3 matLine>Platz {{ ind + 1 }}</h3>
    <p matLine>Name: {{ competitor.user_lastName }}</p>

    <p matLine>Level: {{ competitor.userLevel }}</p>

    <p matLine>
      <span> Reviews: {{ competitor.user_counter }} </span>
    </p>
    <p matLine></p>
    <img *ngIf="ind == 0" img src="assets/medal1.png" />
    <img *ngIf="ind == 1" img src="assets/medal2.png" />
    <img *ngIf="ind == 2" img src="assets/medal3.png" />
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
